# Импортируйте библиотеку pandas как pd. Прочитайте датасет bookings.csv, находящийся по ссылке, с разделителем ;  и сохраните в переменную bookings. Затем запишите первые 7 строк в переменную bookings_head.

In [17]:
import pandas as pd

In [77]:
bookings = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep = ';')
bookings_head = bookings[:7]
bookings.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [78]:
bookings.shape

(119390, 21)

In [79]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

# 💀 Сложное задание! 💀

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию: приведите названия столбцов к нижнему регистру и замените пробелы на знак нижнего подчёркивания. Например: Is Canceled -> is_canceled

Могут пригодиться: 

    rename
    str.lower
    str.replace
    columns

In [108]:
bookings = bookings.rename(columns=str.lower)

def clean_col(name):
    return (
        name.strip().lower().replace(' ', '_')
    )

bookings = bookings.rename(columns=clean_col)

In [109]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

# 💀 Сложное задание! 💀

Перейдём к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? 
Бронирование считается успешным, если в дальнейшем оно не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

In [155]:
bookings.query("is_canceled == 0")\
        .groupby(['country'], as_index=False)\
        .agg({'is_canceled':'count'})\
        .sort_values('is_canceled', ascending=False)\
        .head()

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069

# На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.


Может пригодиться: round

In [146]:
bookings.groupby(['hotel'], as_index=False)\
        .agg({'stays_total_nights':'mean'})\
        .sort_values('stays_total_nights', ascending=False)\
        .round(2)

# Бронирования, которые отменили, учитываются.

          hotel  stays_total_nights
1  Resort Hotel                4.32
0    City Hotel                2.98

# Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). 

Такое может произойти, например, по причине овербукинга.

Сколько подобных наблюдений встретилось в датасете?

In [161]:
bookings.query("assigned_room_type != reserved_room_type")\
        .count()[0]

14917

# Теперь проанализируйте даты запланированного прибытия (arrival_date_year).

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017 году?#

In [165]:
bookings.query("arrival_date_year == 2016")\
        .groupby('arrival_date_month')\
        .agg({'is_canceled':'count'})\
        .idxmax()

is_canceled    October
dtype: object

In [166]:
bookings.query("arrival_date_year == 2017")\
        .groupby('arrival_date_month')\
        .agg({'is_canceled':'count'})\
        .idxmax()

is_canceled    May
dtype: object

# Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 

Hint: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий :) Например:

>df.groupby('column_1')['column_2'].what_to_do()

In [242]:
bookings.query("is_canceled == 1 & arrival_date_year <= 2017 & arrival_date_year >= 2015")\
        .groupby(['arrival_date_year','arrival_date_month'])\
        .agg({'is_canceled':'count'})\
        .sort_values(['arrival_date_year','is_canceled'], ascending=[False, False])\
        .groupby('arrival_date_year')\
        .head(1)

                                      is_canceled
arrival_date_year arrival_date_month
2017              May                        2762
2016              October                    2514
2015              September                  2094

# Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [215]:
print(max(bookings['adults'].mean(),bookings['children'].mean(),bookings['babies'].mean()))

1.8564033838679956

In [217]:
print(bookings['adults'].mean())
print(bookings['children'].mean())
print(bookings['babies'].mean())

1.8564033838679956
0.10388990333874994
0.007948739425412514

# Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

    City hotel – отель находится в городе
    Resort hotel – отель курортный

В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

In [227]:
bookings['total_kids'] = bookings.children + bookings.babies

In [228]:
bookings['total_kids']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
119385    0.0
119386    0.0
119387    0.0
119388    0.0
119389    0.0
Name: total_kids, Length: 119390, dtype: float64

In [229]:
bookings.groupby('hotel')\
        .agg({'total_kids':'mean'})\
        .round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

# 💀 Сложное задание! 💀

Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше. 

В качестве ответа укажите наибольший %, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [233]:
round(bookings.query('total_kids == 0.0 and is_canceled == 1').shape[0] /
      bookings.query('total_kids == 0.0').shape[0] * 100,2)

37.22